[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
# Might also work if wet to False if `sudo` replaced with `gksudo` or `kdesu` or whatever equivalent ships with your DM/WM
Terminal=true
Exec=sudo /opt/zyggy/zyggy
Name=Zyggy
# Icon=
